.manage_users 
{
    width: 41rem;
}

.manage_users select
{
    position: fixed;
    padding: 5px;
    top: 0.02rem;
    left: 43rem;
}

.panel-heading div
{    
    background-color: #343A40;
    color: white;
    padding: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}
.panel-heading div:hover
{    
    background-color: #656e77;
}

.deleteOrder
{
    width: 108px;
    height: auto;
    font-size: 18px;
    line-height: 22px;
    background-color: #343A40;
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
    padding: 4px;
}
.deleteOrder:hover
{    
    background-color: #656e77;
}

.panel-collapse table
{
    margin-bottom: 3px;
}