.consumables_card
{
    display: flex;
    flex-direction: column;
    background-color: white;
    grid-area: o;
    overflow: scroll;
    height: 50vh;
}

.consumables_body
{
    padding: 5px;
}

.consumables_body div table
{
    color: black;
}

.table
{
    margin-bottom: 0px;
}