.restaurants_card
{
    display: flex;
    flex-direction: column;
    background-color: white;
    grid-area: r;
    overflow: scroll;
    height: 49vh;
}

.restaurants_body
{
    padding: 5px;
}

.restaurants_body div table
{
    color: black;
}

.table
{
    margin-bottom: 0px;
}